:root {
    --gl-layout-header-height: 3.2em;
    --gl-layout-header-title-height: 1.59em;
    --gl-layout-footer-height: 1.5em;
    --gl-layout-content-nav-width: 1.6em;
    --gl-layout-content-subnav-width: 20em;
    --gl-ele-hover-color: #cccccc;
    --gl-ele-color: #ececec;
    --gl-ele-line-color: #dddddd;
    --gl-ele-title-bg-color: #EBEBEB;
    --gl-ele-content-bg-color: #f8f8f8;
    --gl-1-24: 4.16%
}

.gl-form-required{
    color: red;
}

.gl-form {
    width: 100%;
    /*background-color: var(--gl-ele-line-color);*/
}

.gl-form, table, tr, td {
    margin: 0px;
    padding: 0px;
}

.gl-form td {
    border: 1px solid var(--gl-ele-line-color);
    line-height: 2em;
}

.gl-form caption {
    line-height: 2em;
    padding-left: 2em;
    font-weight: bold;
    color: black;
}

/*.gl-form td, caption {*/
/*line-height: 2em;*/
/*}*/

.gl-form td.btn-group {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.gl-form td.btn-group.center {
    text-align: center !important;
}

.gl-form td.btn-group.right {
    text-align: right !important;
}

.gl-form td.btn-group.left {
    text-align: left !important;
}

.gl-form td:nth-child(2n+1) {
    font-weight: bold;
    text-align: right;
    padding-right: 1em;
    background-color: var(--gl-ele-title-bg-color);
}

.gl-form td:nth-child(2n+1).invert {
    background-color: var(--gl-ele-content-bg-color) !important;
}

.gl-form td:nth-child(2n) {
    padding-left: 0.25em;
    background-color: var(--gl-ele-content-bg-color);
}

.gl-form td:nth-child(2n).invert {
    background-color: var(--gl-ele-title-bg-color) !important;
}

.gl-form.gl-col-24 td, .gl-form.gl-col-24 th {
    width: calc(var(--gl-1-24) * 1);
}

.gl-form.gl-col-24 td[colspan="2"], .gl-form.gl-col-24 th[colspan="2"] {
    width: calc(var(--gl-1-24) * 2);
}

.gl-form.gl-col-24 td[colspan="3"], .gl-form.gl-col-24 th[colspan="3"] {
    width: calc(var(--gl-1-24) * 3);
}

.gl-form.gl-col-24 td[colspan="4"], .gl-form.gl-col-24 th[colspan="4"] {
    width: calc(var(--gl-1-24) * 4);
}

.gl-form.gl-col-24 td[colspan="5"], .gl-form.gl-col-24 th[colspan="5"] {
    width: calc(var(--gl-1-24) * 5);
}

.gl-form.gl-col-24 td[colspan="6"], .gl-form.gl-col-24 th[colspan="6"] {
    width: calc(var(--gl-1-24) * 6);
}

.gl-form.gl-col-24 td[colspan="7"], .gl-form.gl-col-24 th[colspan="7"] {
    width: calc(var(--gl-1-24) * 7);
}

.gl-form.gl-col-24 td[colspan="8"], .gl-form.gl-col-24 th[colspan="8"] {
    width: calc(var(--gl-1-24) * 8);
}

.gl-form.gl-col-24 td[colspan="9"], .gl-form.gl-col-24 th[colspan="9"] {
    width: calc(var(--gl-1-24) * 9);
}

.gl-form.gl-col-24 td[colspan="10"], .gl-form.gl-col-24 th[colspan="10"] {
    width: calc(var(--gl-1-24) * 10);
}

.gl-form.gl-col-24 td[colspan="11"], .gl-form.gl-col-24 th[colspan="11"] {
    width: calc(var(--gl-1-24) * 11);
}

.gl-form.gl-col-24 td[colspan="12"], .gl-form.gl-col-24 th[colspan="12"] {
    width: calc(var(--gl-1-24) * 12);
}

.gl-form.gl-col-24 td[colspan="13"], .gl-form.gl-col-24 th[colspan="13"] {
    width: calc(var(--gl-1-24) * 13);
}

.gl-form.gl-col-24 td[colspan="14"], .gl-form.gl-col-24 th[colspan="14"] {
    width: calc(var(--gl-1-24) * 14);
}

.gl-form.gl-col-24 td[colspan="15"], .gl-form.gl-col-24 th[colspan="15"] {
    width: calc(var(--gl-1-24) * 15);
}

.gl-form.gl-col-24 td[colspan="16"], .gl-form.gl-col-24 th[colspan="16"] {
    width: calc(var(--gl-1-24) * 16);
}

.gl-form.gl-col-24 td[colspan="17"], .gl-form.gl-col-24 th[colspan="17"] {
    width: calc(var(--gl-1-24) * 17);
}

.gl-form.gl-col-24 td[colspan="18"], .gl-form.gl-col-24 th[colspan="18"] {
    width: calc(var(--gl-1-24) * 18);
}

.gl-form.gl-col-24 td[colspan="19"], .gl-form.gl-col-24 th[colspan="19"] {
    width: calc(var(--gl-1-24) * 19);
}

.gl-form.gl-col-24 td[colspan="20"], .gl-form.gl-col-24 th[colspan="20"] {
    width: calc(var(--gl-1-24) * 19);
}

.gl-form.gl-col-24 td[colspan="21"], .gl-form.gl-col-24 th[colspan="21"] {
    width: calc(var(--gl-1-24) * 21);
}

.gl-form.gl-col-24 td[colspan="22"], .gl-form.gl-col-24 th[colspan="22"] {
    width: calc(var(--gl-1-24) * 22);
}

.gl-form.gl-col-24 td[colspan="23"], .gl-form.gl-col-24 th[colspan="23"] {
    width: calc(var(--gl-1-24) * 23);
}

.gl-form.gl-col-24 td[colspan="24"], .gl-form.gl-col-24 th[colspan="24"] {
    width: 100%;
    text-align: left;
}

.gl-form.gl-col-24.xg-append tr:first-child td {
    border-top: 0px;
}

.gl-form caption {
    background-color: var(--gl-ele-title-bg-color);
}

/*.gl-form .field {*/
/*background-color: #c4fafc !important;*/
/*}*/

.gl-form td, .gl-form th {
    padding: 0.125em;
}

.gl-form td textarea, .gl-form td input:not([type=checkbox]):not([type=button]) {
    width: 100%;
}

/*.gl-form .form-group {*/
/*!*重置form-group的值*!*/
/*margin-bottom: 0px !important;*/
/*}*/

/*.gl-form .mt-checkbox-list, .mt-radio-list {*/
/*padding: 6px 0 0 0;*/
/*}*/

/*compact*/
.gl-form.compact td {
    /*padding: 0 0.68em;*/
    /*padding: 0 0.68em;*/
    line-height: 1.68em;
}

.gl-form.type-blank {

}

.gl-form.type-blank td {
    text-align: left;
    background-color: white;
    padding: 0;
}

.gl-form-group-title {
    padding: 0.5em 12px !important;
    border-left: 5px solid #888888 !important;
}

